*{
    font-family: "Raleway-bold", Helvetica;
    list-style-type: none;
}
body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}
a{
    text-decoration: none;
    color: black;
}
ul,li {
    list-style-type: none;

}
.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
}

/* ----- navigation -----*/
.logo{
 color: #4d5ae5;
font-family: "Raleway",sans-serif ;
font-weight: 700;
letter-spacing: 0.03em;
font-size: 18px;
text-transform: uppercase;
line-height: 1.17;
}
.logo-studio {
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    letter-spacing: 0.03em;
    font-size: 18px;
    text-transform: uppercase;

}

.header-navigation-list {
     font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2e2f42;}

.header-navigation-list-itme {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.header-navigation-list-itme-nav{
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.header-navigation-list-itme-nav:hover,
.header-navigation-list-itme-nav:focus{
    color: #404bbf;
}


/*addres*/
.address {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}

.address-list {
    color: #434455;
}

.address-list-itme {
    color: #434455;
}

.address-list-itme-text {}

.address-list-itme-text:hover,
.address-list-itme-text:focus {
    color: #404BBF;
}

/* ----- hero banner -----*/
.hero-banner{
    background-image: url(../images/Dark-bg\ \(1\).jpg);
    
    font-weight: 1440px;
    line-height: 312px;
    background-size: contain;
    background-color: #2e2f42;
}

.hero-banner-title {
    color: #ffffff;
    font-weight: 700;
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    
    text-align: center
}

.hero-banner-botton {
   
 font-weight: 500;
 font-size: 16px;
 color: #ffffff;
 letter-spacing: 0.04em;
 background-color: #4D5AE5;
 cursor: pointer;
 font-family: "Roboto", sans-serif;
 line-height: 1.5;
}

.hero-banner-botton:hover {
 background-color: #404bbf ;
}

.hero-banner-botton:focus {
    background-color: #404BBF ;
}

/* ----- solutions-----*/
.solutions {
   
}
.solutions-titel{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02;
    color: #2e2f42;
}
.solutions-list {}

.solutions-list-item {

}

.solutions-list-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.solutions-list-item-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
}



/* ----- our-team-----*/
.team { 
    background-color: #f4f4fd;

}

.team-logo {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;


}

.team-list {}

.team-list-item {
 background-color: #FFFFFF;
}
.team-logo{
    color: #2e2f42;
}

.team-list-item-title {font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.team-list-item-text {font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;}



/* ----- portfolio-----*/
.portfolio {}

.portfolio-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
}

.portfolio-list {}

.portfolio-list-itme {}


   

.portfolio-list-itme-titl {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.portfolio-list-itme-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
}



/* ----- footer-----*/
.footer {
    background-image: url(../images/Dark-bg\ \(1\).jpg);
    font-weight: 1440px;
    line-height: 312px;
    background-size: contain;
    background-color: #2e2f42;

    
}
.footer-logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    letter-spacing: 0.03em;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.17;
}

.footer-logo-studio{
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    letter-spacing: 0.03em;
    font-size: 18px;
    text-transform: uppercase;
}


.footer-text {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    line-height: 1.5;
}




